@font-face {
    font-family: "Raleway";
    src: url(../Raleway/Raleway-VariableFont_wght.ttf);
  }
@font-face {
    font-family: "Ralewaybolt";
    src: url(../Raleway/static/Raleway-Bold.ttf);
  }
body {
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: "Ralewaybolt", 'Courier New', Courier, monospace;
    font-size: 18px;
}
h2 {
    font-family: "Raleway", 'Courier New', Courier, monospace;
}
p {
    font-family: "Raleway", 'Courier New', Courier, monospace;
    font-size: 14px;
}
.logo {
    margin-left: 20px;  
}
.logo svg {
    fill:  #0065fc;
    margin: 00px 0px 0px 0px ;
}
.menu {
    position: absolute;
    top: 0%;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 30%;
    min-width: 200px;

    line-height: 50px;
    text-align: center;
}
.link1 {
    font-family: "Ralewaybolt", 'Courier New', Courier, monospace;
    font-size: 12px;
}
.heb 
{
    border-top: 2px solid #0065fc;
    width: 100%;
}
.heb a {
    color: #0065fc;
}
.act {
    margin-top: 2px;
    width: 100%;
}
.act a {
    color: black;
}
.ins {
    margin-top: 2px;
    width: 100%;
}
.ins a{
    color: #0065fc;
}
.link1 :hover {
    opacity: 0.8;
}
.block_tete{
    margin-left: 20px;
}

.block_tete_zone {
    position: relative;
    margin: 20px 0 20px 0px;
    display: flex;
    flex-direction: row;

    width: 300px;
    height: 33px;

    align-items: center;
    border-radius: 13.33333px;
    border: 2px solid #f2f2f2;
    overflow: visible;
}
.block_tete_bouton {
    position: absolute;
    right: -2px;
    cursor: pointer;
    height: 36px;
    width: 30%;
    background-color: #0065fc;
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
    overflow: visible;
}
.bouton_txt h2  {
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: "Raleway", 'Courier New', Courier, monospace;
}
.bouton_icon {
    display: none;
    color: white;
    font-family: "Raleway", 'Courier New', Courier, monospace;
    line-height: 33px;
    margin: 10px 10px 0px 10px;
}
.block_tete_bouton:hover {
    opacity: 0.8;
}
.boxsaisie  {
    margin-left: 10px;
}

form input {
    cursor: pointer;
    border: none;
    font-family: "Ralewaybolt", 'Courier New', Courier, monospace;
}
.block_tete_input{
    margin-left: 10px;
  }
.block_tete_icon_recherche {
    background-color: #f2f2f2;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;

    width: 13%;
    height: 35px;

    text-align: center;
    line-height: 35px;
  
}
.block_filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
.block_filtre h2 {
    font-size: 14px;
}
.zone_filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bouton_choix {
    margin: 0px 10px;
}
.bouton:hover{
    border: 2px solid #b1c7e7;
    box-shadow: 0px 0px 10px #b1abab;
    background-color: #dfe5ec;
    transition: 0.2s;
}
.bouton {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #ccc6c6;
    position: relative;
    border-radius: 20px;
    height: 30px;
    margin: 0px 0px 0px 30px;
}
.bouton h2 {
    margin: 0px 10px 0px 40px;
}
.icon {
    position: absolute;
    left: -3px;
    text-align: center; 
    background-color: #deebff;
    border-radius: 50%;
    width: 34px;
    height: 34px;
  }
.icon i {
    padding-top: 10px;
    font-size: 14px;
    color: #0065fc;
}
.block_tete_txt_fin {
    position: relative;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}
.block_tete_txt_fin_icon { 
    position: absolute;
    left: 0px;
    top: 10px;
    border-radius: 50%;
    border: 2px solid #f2f2f2;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
}
.block_tete_txt_fin_icon i{
    padding-top: 3px;
    color: #0065fc;
}
.block_tete_txt_fin p {
    font-size: 12px;
    line-height: 1.7em;
    margin-left: 40px;
}
.block_txt {
    cursor: pointer;
    width: 100%;
    height: 50px;

    font-size: 14px; 
}
.txt1 {
    margin: 10px 0px 0px 20px;
}
.txt2 {
    margin: 10px 0px 0px 20px;
}
.txt2 i {
    position: absolute;

    right: 60px;
    margin: 0px 0px 0px 30px;
} 
.txt3 {
    justify-items: right;
    margin: 0px 0px 15px 0px;
}
.block_txt:hover {
    cursor: pointer;

    opacity: 0.7;
    text-decoration: underline;
}
.block_corps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}
  /*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*/
.block1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #f2f2f2;
    border-radius: 20px;
   
    width: 60%;

    padding: 10px;
    margin-left: 0px;
}
.block1_cadre {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 28%;
    height: 200px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px #b1abab;
    cursor: pointer;
    margin: 0px 10px 20px 10px;
}
.cd1_img img {
  width: 100%;
}
.block1_cadre:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.block1_txt_cadre {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
    bottom: 0px;
    background-color: white;
    overflow: hidden;
    padding: 5px 0px 0px 5px;
    line-height: 1.5;
} 
.block1_txt_cadre h2 {  
    font-size: 14px;
    margin: 0px;
}
.block1_txt_cadre p {
    font-size: 12px;
    margin: 0px;
 }
.block1_txt_fin {
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
} 
.block1_txt_fin:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
}
.star {
    font-size: 9px;
    position: absolute;
    color: #0065fc;
    line-height:30px;
    bottom: 0px;
}
.cd1 i:nth-last-child(1) {
    color: #f2f2f2;
}
.cd2 i:nth-last-child(0) {
    color: #f2f2f2;
}
.cd3 i:nth-last-child(1) {
    color: #f2f2f2;
}
.cd4 i:nth-last-child(1) {
    color: #f2f2f2;
} 
.cd4 i:nth-last-child(2) {
    color: #f2f2f2;
} 
.cd5 i:nth-last-child(1) {
    color: #f2f2f2;
}
.cd6 i:nth-last-child(0) {
    color: #f2f2f2;
}
.cd7 i:nth-last-child(0) {
    color: #f2f2f2;
}
.cd8 i:nth-last-child(1) {
    color: #f2f2f2;
}
.cd9 i:nth-last-child(1) {
    color: #f2f2f2;
}
  /*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*//*BOX 1*/ 
  /*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*/  /*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*/
.block2 {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
 
    width: 31%;  
    padding: 10px;

    border-radius: 20px;
    background-color: #f2f2f2; 
}
.block2_cadre {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 147px;

    box-shadow: 2px 2px 10px #b1abab;
    border: 3px solid white;
    border-radius: 20px;

    margin: 20px auto;
}
.block2_cadre img {
    object-fit: cover;
    height: 100%;
}
.block2_cadre:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.block2_txt_cadre {
    position: absolute;
    right: 0px;
    top: 0px;
    justify-content: space-between;
    height: 100%;
    width: 55%;
    overflow: hidden;
    padding: 0px 0px 0px 10px;

    background-color: white;
  
    line-height: 2;
}
.block2_txt_cadre h2 {
    margin: 10px 20px 0px 0px;
    font-size: 14px;
    line-height: 1.3;
}
.block2_txt_cadre p {
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    line-height:3;
}
  /*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*//*BOX 2*/ 
  /*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*/ /*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*/
 /*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*/
.block3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    width: 100%;
   
    padding: 20px;

    margin-top: 20px; 
}
.block3_cadre3 {
    position: relative;
    overflow: hidden;
    width: 100%;

    border: 0px solid white;
    box-shadow: 2px 2px 10px #b1abab;
    border-radius: 20px;
}
.block3_cadre3_2 {
    position: relative;
    width: 100%;
    height: 45%;
    overflow: hidden;

    border: 0px solid white;
    box-shadow: 2px 2px 10px #b1abab;
    border-radius: 20px;
}
.block3_cadre3:hover, .block3_cadre3_2:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.fort {
    height: 50%;
}
.friout {
    max-height: 40%;  
}
.fort img {
    height: 100%; 
}
.friout img {
    width: 100%;  
}
.block3_cadre3 img {
    height: 100%;
}
.block3 img {
    width: 100%;
    object-fit: cover;
}
.block3_txt_cadre {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 5px;
    
    background-color: white;

    line-height: 1.2s;
}
.block3_txt_cadre h2 {
    font-size: 14px;
    margin: 10px 5px 0px 5px;
    word-spacing: 2px;
    font-size-adjust: 0.5;
}
.block3_1cadre {
    display: flex;
    width: 22%;
    height: 390px;
}
.block3_2cadre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 390px;
}
  /*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*//*BOX 3*/
  /* FOOTER*//* FOOTER*//* FOOTER*//* FOOTER*//* FOOTER*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100%;

  background-color: #f2f2f2;
  
  margin-top: 30px;    
}
.footer_txt {
  justify-items: left;
  width: 30%;
  padding: 15px 0px 20px 0px;
  
  line-height: 2;
  word-spacing: 1px;
  letter-spacing: 0.5px;
} 
.footer_txt .link1 {
  font-size: 14px;
  font-family: "Raleway", 'Courier New', Courier, monospace;
  font-weight: 600;
}
.footer_txt h2 {
  font-family: "Ralewaybolt", 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 0.4;
  word-spacing: 1px;
  letter-spacing: 0.5px;
    
}
/*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*--------------------@media query--------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
.block1_cadre {
    height: 180px;
}
.block1_txt_cadre {
    height: 60px; 
}
.block2_cadre {
    height: 135px;
}
.txt2 i{
    right: 40px;
}
}
 
  /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*--------------------@media query--------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /* Large devices (desktops, 992px and up)*/
 @media (max-width: 992px) { 
.block1_cadre {
    height: 160px;
}
.block1_txt_cadre {
    height: 60px; 
}
.block2_cadre {
    height: 122px;
}
.block3_txt_cadre h2 {
    margin-top: 5px;
}
}
  /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*--------------------@media query--------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
  /* Medium devices (landscape tablets, 768px and up)*/ 
@media only screen and (max-width: 768px) {
.menu{
    width: 50%;
}
.bouton {
    margin: 0px 0px 0px 10px;
}
.block_txt {
    margin-top: 0px;
}
.block1_cadre {
    height: 145px;
    width: 26%;
}
.block1_txt_cadre {
    height: 60px; 
}
.block2_cadre {
    height: 110px;
}
.block1_txt_cadre h2{
    font-size: 10px;
    margin-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.block2_txt_cadre h2{
    font-size: 10px;
    margin-right: 5px;
}
.block1_txt_cadre p {
    font-size: 10px;
}
.block2_txt_cadre p{
    margin-top: 5px;
    font-size: 10px;
    line-height: 1.3;
}
.txt1 h2, .txt2 h2, .txt2 i, .txt3 h2{
    font-size: 14px;
    line-height: 2.5;
}
.txt2 i{
    right: 35px;
}
.block1_txt_fin {
    font-size: 10px; 
}
.block3_txt_cadre h2{
    font-size: 10px;
    margin: 10px 5px 0px 5px;
}
.block3_1cadre, .block3_2cadre {
    height: auto;
}
.star{
    font-size: 8px;
}
.footer_txt .link1 {
    font-size: 14px;
}
.footer_txt h2 {
    font-size: 14px; 
}
}

 /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*--------------------@media query--------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
@media screen  and (max-width: 670px) {
.block_corps{
    padding-top: 20px;
}


.menu {
    display: flex;
    flex-wrap: wrap;
   width: 100%;
    height: 30px;
    margin: 5px 0px 20px 10px;
    padding-top: 30px;
    line-height: 2;
}
.ins {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
}
.act {
    position: absolute;
    bottom: 0px;
    width: 50%;
    right: 0%;
    border-bottom: 2px solid #f2f2f2;
    line-height: 2;
}
.heb {
    position: absolute;
    bottom: 0px;
    width: 50%;
  
    border-bottom: 2px solid #0065fc;
    border-top: 0;
    left: 0%;
    line-height: 2;
}
.order1 {
    order: 2;
}
.order2 {
    order: 1;
}
.order3 {
    order: 3;
}
header {
    padding-bottom: 20px;
}
.logo {
    margin-left: 10px;
}
.block_tete_icon_recherche {
    height: 38px; 
}
.block_tete {
    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
}
.block_tete  p {
    margin: 12px 0px 20px 0px;
}
.block_tete_bouton {
    width: 36px;
    height: 36px;
    border: 2px solid #0065fc;
    border-radius: 14.28571px;
}
.block_tete_zone {
    max-width: 80%;
    height: 38px;
    margin: 0px 0px 10px 0px;
}
.block_filtre h2 {
    margin-left: s0px;
}
.bouton h2 {
    margin: 0px 10px 0px 40px;
}
.bouton_txt {
    display: none;
}
.bouton_icon {
    display: inline;
    line-height: 2.4;
    text-align: center;
}
form input {
    font-size: 14px;
    margin-top: 5px;
}

.bouton {
    margin: 5px 10px 5px 0px;
}
.block_tete_txt_fin p {
    margin-left: 40px;
}

/*-------------------------------------*//*-------------------------------------*/
/*-------------------------------------*//*-------------------------------------*/

.block3_1cadre, .block3_2cadre {
    width: 100%;
    padding: 0px 10px
} 
.block1_cadre {
    width: 95%;
    height: 290px;
    margin: 10px 0px; 
}
.block2_cadre {
    width: 95%;
    height: 260px;
    border-radius: 20px;
}
.block3_cadre3, .block3_cadre3_2  {
    width: 95%;
    height: 260px;
    margin: 10px auto;
}
.fort, .friout {
    height: 260px;

}


/*-----------------------------------*//*-------------------------------------*/
/*-------------------------------------*//*-------------------------------------*/

.block1_txt_fin {
    margin-left: 40px;
    font-size: 16px;
}
.block1 {
    width: 100%;
    border-radius: 0px;
    background-color: white;
} 

.block2 {
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: 1100px;
    padding: 0px 10px;
    border-radius: 0px;
}
.block3 {
    padding: 0px;
    margin-bottom: 30px;
    align-items: center;
    height: auto;
}
.block3_txt_cadre h2 {
    font-size: 20px;
    margin: 10px 5px 0px 5px;
}
.block2_txt_cadre {
    padding-left: 10px;
    width: 55%;
    height: 100%;
}
.block2_txt_cadre h2 {
    margin: 15px 15px 0px 10px;
    line-height: 1.2;
    font-size: 22px;
}
.block2_txt_cadre p {
    margin: 0px 0px 0px 10px;
    line-height: 2;
    font-size: 20px;
}
.block2_txt_cadre .star {
    font-size: 15px;
    margin-left: 10px;
    bottom: 10px;
}
.block1_txt_cadre {
    width: 100%;
    height:95px;
    padding-left: 10px;
}
.block1_txt_cadre h2 {
    margin: 5px 0px 0px 0px;
    font-size: 22px;
    line-height: 1;
  }
.block1_txt_cadre p {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    line-height: 1;
}
.block1_txt_cadre .star {
    font-size: 15px;
    margin-left: 0px;
    bottom: 05px;
}
.block_txt {
    height: 100px;
}
.block_txt h2 {
    font-size: 28px;
}
.txt3 { 
    margin: 20px 0px 0px 25px;
}
.txt1 {
    margin: 20px 0px 00px 15px;
}
.txt2 {
    margin: 10px 0px -34px 10px;
}
.txt2 i {
    font-size: 26px;
  
    right: 25px;
}
footer {
    flex-direction: column;
    padding-left: 0px;
}
.footer_txt {
    width: 100%;
    padding: 20px 0px 30px 30px;
}
.footer_txt h2 {
    line-height: 1.2;
}
}
/*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*--------------------@media query--------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
 /*----------------------------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down)*/ 
@media only screen and (max-width: 360px) {
.block_txt h2 {
    font-size: 20px;
}
.block1_txt_fin {
    margin-left: 20px;
    font-size: 12px;
}
.block2 {
    justify-content: center;
    height: auto;
}
.block2_txt_cadre h2 {
    font-size: 18px;
}
.block2_txt_cadre p {
    font-size: 16px;
    margin-right: 5px;
}
.block1_txt_cadre h2 { 
    font-size: 18px;
}
.block1_txt_cadre p {
    font-size: 16px;  
}
.block1_cadre {
    height: 250px;
}
.block2_cadre { 
    height: 200px;
}
.block1_txt_cadre .star {
    font-size: 12px;
}
.block2_txt_cadre .star {
    font-size: 12px;
}
.block3_cadre3, .block3_cadre3_2 {
    width: 95%;
    height: 250px;
    margin: 10px auto;
}
.fort, .friout {
    height: 250px;
}
.txt2 i {
    font-size: 18px;
}
}